@model IEnumerable<BeautySaloon.Models.Service>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Услуги</title>
    <link rel="stylesheet" type="text/css" href="~/css/table.css">
    <link rel="stylesheet" type="text/css" href="~/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/TextStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===JS===========================================================================-->
    <script src="~/js/site.js"></script>
</head>
<body>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("myTopnav").style.top = "0";
            } else {
                document.getElementById("myTopnav").style.top = "-50px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
    <div class="topnav" id="myTopnav">
        <a asp-action="Allservices" class="active">Услуги</a>
        <a asp-controller="Masters" asp-action="Allmasters">Мастера</a>
        <a asp-controller="Order" asp-action="DoneWorks">Выполненные работы</a>
        <a asp-controller="Users" asp-action="Allusers">Клиенты</a>
        <a asp-controller="Statistic" asp-action="Index">Статистика</a>
        <a class="right" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        <a href="javascript:void(0);" class="icon" onclick="topnavHamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <button style="
        padding: 7px 20px;
        margin: 8px 20px;
        border: none;
        cursor: pointer;
        width: 191px;
        font-size: 16px;" onclick="document.getElementById('addService').style.display='block'" class="OK">
        Добавить услугу
    </button>

    <!-- POPUP -->
    <div id="addService" class="modalRegister" style="height: 100%;padding-top: 50px;">
        <!-- Modal Content -->
        <form class="modal-content animate" asp-action="Create" method="post">
            <div class="containerLogin">
                <h3 class="title">Добавление услуги<span></span></h3>
                <input type="hidden" name="ID" />

                <label class="text">Название: </label>
                <input name="Name" maxlength="200" type="text" placeholder="Введите название услуги" required>

                <label class="text">Стоимость (BYN): </label>
                <input name="Price" maxlength="3" type="text" onkeyup="this.value = this.value.replace(/[^0-9]/g, '')" placeholder="Введите стоимость" required>

                <label class="text">Категория: </label>
                <div>
                    <select class="view" name="Category" asp-items="ViewBag.Categories"></select>
                </div>

                <button class="Add" type="submit">Добавить услугу</button>
            </div>

            <div class="containerLogin" style="background-color:#f1f1f1">
                <a class="cancelbtn" asp-action="Allservices">Cancel</a>
            </div>
        </form>
    </div>

    <div style="overflow-x: auto;  margin-bottom: 32px;">
        <table>

            <tr>
                <th>ID</th>
                <th>Название </th>
                <th>Стоимость </th>
                <th>Категория</th>
                <th></th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Price) BYN
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Редактирование</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Удаление</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p>Общее количество услуг: @Model.ToList().Count</p>
    </div>
</body>
</html>
