@model IEnumerable<BeautySaloon.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clients</title>
    <link rel="stylesheet" type="text/css" href="~/css/table.css">
    <link rel="stylesheet" type="text/css" href="~/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/TextStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===JS===========================================================================-->
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a asp-action="Allusers" class="active">Клиенты</a>
        <a asp-controller="Order" asp-action="DoneWorks">Выполненные работы</a>
        <a asp-controller="Service" asp-action="Allservices">Услуги</a>
        <a asp-controller="Masters" asp-action="Allmasters">Мастера</a>
        <a asp-controller="Statistic" asp-action="Index">Статистика</a>
        <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        <a href="javascript:void(0);" class="icon" onclick="topnavHamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <button style="
        padding: 7px 20px;
        margin: 8px 20px;
        border: none;
        cursor: pointer;
        width: 191px;
        font-size: 16px;" onclick="document.getElementById('adduser').style.display='block'" class="OK">Добавить клиента</button>
    <!-- POPUP -->
    <div id="adduser" class="modalRegister" style="height: auto;padding-top: 20px;">
        <!-- Modal Content -->
        <form class="modal-content animate" asp-action="Create" method="post">

            <div class="containerLogin">
                <h3 class="title">Добавление клиента<span></span></h3>
                <input type="hidden" name="ID" />
                <label class="text">Фамилия: </label>
                <input name="Surname" maxlength="50" type="text" placeholder="Введите фамилию" required>

                <label class="text">Имя: </label>
                <input name="Name" maxlength="50" type="text" placeholder="Введите имя" required>

                <label class="text">Отчество: </label>
                <input name="Patronymic" maxlength="50" type="text" placeholder="Введите отчество" required>

                <label class="text">Дата рождения: </label>
                <input name="Date" id="datePicker" type="date" placeholder="Введите дату рождения" required="">

                <label>Телефон:</label>
                <input name="Phone" type="text" onkeyup="this.value = this.value.replace(/[^0-9+]/g, '')" maxlength="13" placeholder="Введите номер телефона" required>

                <label>Email</label>
                <input name="Email" type="email" maxlength="100" placeholder="Введите email">


                <button class="Add" type="submit">Добавить клиента</button>
            </div>

            <div class="containerLogin" style="background-color:#f1f1f1">
                <a class="cancelbtn" asp-action="Allusers">Cancel</a>
            </div>
        </form>
    </div>

    <div style="overflow-x: auto; margin-bottom: 32px;">
        <table>

            <tr>
                <th>ID</th>
                <th>Фамилия </th>
                <th>Имя </th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Контактный телефон</th>
                <th>Email</th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patronymic)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p>Общее количество клиентов: @Model.ToList().Count</p>
       </div>
</body>
</html>
