@model BeautySaloon.ViewModels.doneWorks

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Выполненные работы</title>
    <link rel="stylesheet" type="text/css" href="~/css/table.css">
    <link rel="stylesheet" type="text/css" href="~/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/filter.css">
    <link rel="stylesheet" type="text/css" href="~/css/search.css">
    
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===JS===========================================================================-->
    <script src="~/js/site.js"></script>
    
</head>
<body>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("myTopnav").style.top = "0";
            } else {
                document.getElementById("myTopnav").style.top = "-50px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
    <div class="topnav" id="myTopnav">
        <a asp-action="DoneWorks" class="active">Выполненные работы</a>
        <a asp-controller="Masters" asp-action="Allmasters">Мастера</a>
        <a asp-controller="Service" asp-action="Allservices">Услуги</a>
        <a asp-controller="Users" asp-action="Allusers">Клиенты</a>
        <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        <a href="javascript:void(0);" class="icon" onclick="topnavHamburger()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div id="filter" class="modalFilter">
        <form method="get">
            <div class="filter">
                @*<h3 class="title">Фильтры</h3>*@
                <label class="text">Выберите мастера: </label>
                @Html.DropDownList("master", Model.Masters as List<SelectListItem>,
               htmlAttributes: new { @class = "view" })

                <label class="text">Выберите услугу: </label>
                @*<select  asp-items="Model.Services" class="view form-control"></select>*@
                @Html.DropDownList("service", Model.Services as SelectList,
                   htmlAttributes: new { @class = "view" })

                <label class="text">Выберите клиента: </label>
                @Html.DropDownList("user", Model.Users as List<SelectListItem>,
               htmlAttributes: new { @class = "view" })
                <br />
                <label class="text">Выберите дату:  от</label>
                <input name="begindate" id="datePicker" type="date">
                <label class="text">  до</label>
                <input name="enddate" id="datePicker" type="date">
                <button class="OK" type="submit">Применить фильтр</button>
            </div>
        </form>
    </div>
    @*<div class="wrapper">
            <div class="container">
                <input type="text" class="input" placeholder="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>*@

    <button class="OK" onclick="document.getElementById('filter').style.display='block'">Фильтр</button>
    <br />
    <div>
        @using (Html.BeginForm("Export", "Order", FormMethod.Post))
        {
            <button class="OK" type="submit">Export to EXCEL</button>
            <label class="text">Выберите дату:  от</label>
            <input name="begindate" id="datePicker" type="date">
            <label class="text">  до</label>
            <input name="enddate" id="datePicker" type="date">
        }
    </div>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>
                    ID<br />
                    <i style="font-size: 11px; ">(дата бронирования)</i>
                </th>
                <th>ФИО мастера</th>
                <th>Услуга</th>
                <th style="padding: 5px 15px 15px 15px;">Стоимость</th>
                <th>Дата</th>
                <th>ФИО клиента</th>
                <th></th>
            </tr>

            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr style="padding-top: 8px; ">
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.ID) <br />
                            <i style="font-size: 11px; ">(@Html.DisplayFor(modelItem => item.OrderDate))</i>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Master.Surname) @Html.DisplayFor(modelItem => item.Master.Name) @Html.DisplayFor(modelItem => item.Master.Patronymic)
                        </td>
                        <td style="padding: 10px 10px;">
                            @Html.DisplayFor(modelItem => item.Service.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Service.Price) BYN
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Date)
                            @*@Html.DisplayFor(modelItem => item.Date.ToString("D"))*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Surname) @Html.DisplayFor(modelItem => item.User.Name) @Html.DisplayFor(modelItem => item.User.Patronymic)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Редактирование</a><br />
                            @*<a asp-action="Details" asp-route-id="@item.ID">Подробности</a> | <br />*@
                            <a asp-action="Delete" asp-route-id="@item.ID">Удаление</a>
                        </td>



                    </tr>
                }
            </tbody>

        </table>
    </div>

</body>
</html>
