@model IEnumerable<BeautySaloon.Models.Order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Выполненные работы</title>
    <link rel="stylesheet" type="text/css" href="~/css/table.css">
 
</head>
<body>
    
    <table>
        <caption>Выполненные работы</caption>
        <tr>
            <th>ID</th>
            <th>ФИО мастера</th>
            <th>Услуга</th>
            <th>Стоимость</th>
            <th>Дата</th>
            <th>Время</th>
            <th>ФИО клиента</th>
            <th></th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr style="padding-top: 8px;  border-bottom-width: 6px;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Master.Surname) @Html.DisplayFor(modelItem => item.Master.Name) @Html.DisplayFor(modelItem => item.Master.Patronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Price) BYN
                    </td>
                    <td>
                        @string.Format("{0}.{1}.{2}", item.Date.Day, item.Date.Month, item.Date.Year)
                    </td>
                    <td>
                        @string.Format("{0}:{1}", item.Date.Hour, item.Date.Minute)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Surname) @Html.DisplayFor(modelItem => item.User.Name) @Html.DisplayFor(modelItem => item.User.Patronymic)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактирование</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Удаление</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
